.enter_button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.enter_button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
.title_button {
    -fx-font-size: 20px;
    -fx-font-family: "Arial Black";
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );

}
.start_button {
    -fx-font-size: 20px;
    -fx-text-fill: #ffffff;
    -fx-background-color:#2d2d2d;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
    -fx-font-family: proxima-nova;
    -fx-display: block;

}

.start_button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.label_button {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.root {
    -fx-background-image: url("background.jpg");
}

.answer_button {
    -fx-font-family:georgia, serif;
    -fx-text-fill: #232323;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}


.questions_button {
    -fx-font-family: times, Times New Roman, times-roman, georgia, serif;
    -fx-text-fill: #444;
    -fx-padding: 0px 0px 6px 0px;
    -fx-font-size: 25px;
    line-height: 44px;
    -fx-font-weight: bold;
}